<template>
  <div class="post post--detail">
    <Breadcrumbs :text="getPost.title" :url="`/${getPost.id}`" />

    <div class="container">
      <div class="post__actions clearfix">
        <div class="post__actions-list">
          <Button modifier="btn--basic" text="Save Post" type="submit" @click.native="submit($event)" />
          <Button modifier="btn--basic" text="Cancel" @click.native="cancel($event)" />
        </div>
      </div>
      <div class="form form--edit-post">
        <div class="form__inner">
          <div class="form__block">
            <time class="form__date" :datetime="getPost.createdAt | format_datetime">{{ getPost.createdAt | format_date }}</time>
          </div>
          <div class="form__block">
            <Textarea
              v-model="form.title"
              field="title"
              modifier="textarea--title"
              placeholder="Title"
            />
          </div>

          <div class="form__block">
            <ImageUpload
              field="image"
              :image="getPost.image"
              @change="selectImage($event)"
            />
          </div>

          <div class="form__block">
            <Textarea
              v-model="form.content"
              field="content"
              modifier="textarea--create-post"
              placeholder="Content"
            />
          </div>

          <div class="post-detail__comments">
            <CommentForm
              :post-id="getPost.id"
              @addComment="fetchPost()"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { required } from 'vuelidate/lib/validators'
import { mapState } from 'vuex'
import _ from 'lodash'
import { GET_POST, UPDATE_POST } from '@/graphql'
import Button from '@/components/Button'
import Breadcrumbs from '@/components/Breadcrumbs'
import CommentForm from '@/components/CommentForm'
import Textarea from '@/components/Textarea'
import ImageUpload from '@/components/ImageUpload'
import mixins from '@/mixins'

export default {
  name: 'EditPost',
  components: {
    Button,
    Breadcrumbs,
    CommentForm,
    ImageUpload,
    Textarea
  },
  mixins: [mixins],
  data () {
    return {
      title: 'Edit Post',
      edit: false,
      post: {},
      form: {
        title: '',
        image: '',
        content: ''
      }
    }
  },
  computed: {
    getPost () { return this.post },
    getEdit () { return this.edit },
    ...mapState(['isAuth', 'token']),
    getForm () { return this.form }
  },
  watch: {
    isAuth (newVal, oldVal) {
      if (oldVal && !newVal) {
        this.$router.push({
          name: 'ViewPost',
          params: parseInt(this.$route.params.id)
        })
      }
    },
    post (newVal) {
      Object.assign(this.post, newVal)
    }
  },
  validations: {
    form: {
      title: { required },
      image: {},
      content: {}
    }
  },
  methods: {
    async fetch () {
      await this.$apollo.query({
        query: GET_POST,
        fetchPolicy: 'no-cache',
        variables: {
          id: parseInt(this.$route.params.id)
        }
      })
        .then((response) => {
          const post = response.data.post
          this.post = { ...this.post, ...post }
          this.form = { ...post }
        })
        .catch(() => {
          this.$router.push({
            name: 'Error',
            params: { 0: undefined }
          })
        })
    },
    getPostId () {
      return this.$route.params.id
    },
    cancel (e) {
      const hasChanges = [
        _.isEqual(this.post.title, this.getForm.title),
        _.isEqual(this.post.content, this.getForm.content),
        _.isEqual(this.post.image, this.getForm.image)
      ].some(item => item === false)

      if (hasChanges) {
        const confirm = window.confirm('Are your sure you want cancel & discard changes?')

        if (confirm) {
          this.redirect()
        }
      } else {
        this.redirect()
      }
    },
    redirect () {
      this.edit = false
      this.$router.push({
        name: 'ViewPost',
        ...{ params: { id: this.getForm.id } }
      })
    },
    selectImage (e) {
      this.form.image = e[1]
    },
    async submit (e) {
      e.preventDefault()
      const form = {
        id: this.getForm.id,
        title: this.getForm.title,
        content: this.getForm.content,
        image: this.getForm.image
      }

      if (!this.$v.form.$invalid) {
        await this.$apollo.mutate({
          mutation: UPDATE_POST,
          variables: {
            post: { ...form }
          },
          context: {
            headers: {
              authorization: this.token ? this.token : ''
            }
          }
        })
          .then((res) => {
            const params = { params: { id: this.getForm.id } }
            this.$router.push({ name: 'ViewPost', ...params })
          })
          .catch((err) => {
            console.log(`${err}`)
          })
      }
    }
  },
  created () {
    this.fetch(true)
  }
}
</script>

<style lang="scss">
@import '@/style/_variables';
@import '@/style/_color';
@import '@/style/_form';
@import '@/style/_section';
@import '@/style/_post';

.post--view, .post--detail {
  padding: 100px 0;
}
.post--detail {
  .form--edit-post .form__inner {
    padding-top: 0;
  }
}
</style>
