<template>
  <div class="error">
    <Breadcrumbs :text="error.message" />
    <div class="container">
      <div class="error__content">
        <div class="error__message">
          <h1 class="error__title">
            ERROR <strong>{{ error.statusCode }}</strong>
          </h1>
          <p class="error__sub">
            {{ resolveError(error.statusCode) }}
          </p>

          <div class="error__footer">
            <router-link to="/" class="error__link">
              GO BACK HOME
            </router-link>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import Breadcrumbs from '@/components/Breadcrumbs'
import mixins from '@/mixins'

export default {
  name: 'Error',
  components: {
    Breadcrumbs
  },
  mixins: [mixins],
  data () {
    return {
      url: '',
      error: {
        statusCode: 404,
        message: 'Error'
      }
    }
  }
}
</script>

<style lang="scss" scoped>
@import '@/style/_variables';
@import '@/style/_color';

.error {
  height: calc(100vh - 100px);
  padding-top: 100px;
}
.error__content {
  display: table;
  vertical-align: middle;
  width: 100%;
  height: calc(100vh - 178px);
}
.error__message {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}
.error__footer {
  margin-top: 100px;
}
.error__link {
  text-decoration: none;
  color: $color-black;
}
.error__title {
  display: inline-block;
  font-family: $montserrat;
  font-size: 32px;
  border-bottom: 2px solid $color-black;
  margin: 0;

  strong {
    font-size: 64px;
  }
}
.error__sub {
  font-family: $montserrat;
  font-size: 18px;
  line-height: 2;
  margin: 0;
}
</style>
