<template>
  <div class="new-post">
    <Breadcrumbs :text="title" />
    <CreateForm />
  </div>
</template>

<script>
import Breadcrumbs from '@/components/Breadcrumbs'
import CreateForm from '@/components/CreateForm'

export default {
  name: 'NewPost',
  components: {
    Breadcrumbs,
    CreateForm
  },
  data () {
    return {
      title: 'Create New Post'
    }
  }
}
</script>

<style lang="scss" scoped>
.new-post {
  display: block;
}
</style>
