<template>
  <article class="post post--view">
    <Breadcrumbs :text="post.title" :url="`/${post.id}`" />
    <div class="container">
      <div class="post__actions clearfix">
        <div class="post__actions-list">
          <Button
            v-if="isAuth"
            modifier="btn--basic"
            text="Edit Post"
            @click.native="goto(post.id)"
          />
        </div>
      </div>

      <time class="post__date" :datetime="post.createdAt | format_datetime">{{ post.createdAt | format_date }}</time>

      <h1 class="post__title">
        {{ post.title }}
      </h1>

      <div class="post__image">
        <div :style="showPlaceholder(post.image)" />
      </div>

      <div class="post__content">
        {{ post.content }}
      </div>

      <section class="section section--view-post">
        <h2 class="section__title section__title--comment">
          COMMENT
        </h2>
        <div class="section__content">
          <ul class="view__comment-list">
            <li
              v-for="comment in post.comments"
              :key="comment.id"
              class="view__comment-item"
            >
              <Comment :comment="comment">
                <h3
                  slot="content"
                  class="comment__content"
                >
                  {{ comment.content }}
                </h3>
              </Comment>
            </li>
          </ul>
        </div>
        <div>
          <CommentForm :post-id="post.id" @addComment="refetch" />
        </div>
      </section>
    </div>
  </article>
</template>

<script>
import { mapState, mapGetters } from 'vuex'
import { GET_POST } from '@/graphql'
import mixins from '@/mixins'
import Comment from '@/components/Comment'
import CommentForm from '@/components/CommentForm'
import Breadcrumbs from '@/components/Breadcrumbs'
import Button from '@/components/Button'

export default {
  name: 'ViewPost',
  components: {
    Comment,
    CommentForm,
    Breadcrumbs,
    Button
  },
  mixins: [mixins],
  data () {
    return {
      post: {}
    }
  },
  computed: {
    ...mapState(['isAuth', 'token']),
    ...mapGetters({
      auth: 'getIsAuth'
    })
  },
  methods: {
    async fetch () {
      await this.$apollo.query({
        query: GET_POST,
        fetchPolicy: 'no-cache',
        variables: {
          id: parseInt(this.$route.params.id)
        }
      })
        .then((res) => {
          this.post = { ...res.data.post }
        })
        .catch(() => {
          this.$router.push({
            name: 'Error',
            params: {}
          })
        })
    },
    refetch () {
      this.fetch()
    },
    goto (id) {
      const params = { params: { id } }
      this.$router.push({ name: 'EditPost', ...params })
    }
  },
  created () {
    this.fetch(true)
  }
}
</script>

<style lang="scss" scoped>
@import '@/style/_variables';
@import '@/style/_color';
@import '@/style/_container';
@import '@/style/_section';
@import '@/style/_post';
</style>
