$color-default: #333;
$color-base: #efefef;
$color-border: #ccc;
$color-border-light: #d5dae0;
$color-border-dark: #888;

$color-main: #825794;
$color-sub: #ffbb4d;
$color-caution: #e74c3c;

$color-facebook: #305097;
$color-twitter: #00aced;
$color-line: #00c300;
$color-instagram: #325C86;
$color-google: #c71610;

//BASE
$base-bg-color: #f2f3f4;
$base-color-black: #181819;
$base-color-light-yellow: #ffe400;
$base-color-default-yellow: #ffde00;
$base-color-pale-yellow: #ffe539;
$base-color-dark-blue: #2d3446;
$base-color-off-blue: #434959;

//COMMON
$color-vanilla: #f7f7f7;
$color-white: #fff;

//SEMANTIC UI COLORS
$color-red: #db2828;
$color-orange: #f2711c;
$color-yellow: #fbbd08;
$color-olive: #b5cc18;
$color-green: #21ba45;
$color-teal: #00b5ad;
$color-blue: #2185d0;
$color-violet: #6435c9;
$color-purple: #a333c8;
$color-pink: #e03997;
$color-brown: #a5673f;
$color-grey: #767676;
$color-black: #1b1c1d;

$color-red-hover: #d01919;
$color-orange-hover: #f26202;
$color-yellow-hover: #eaae00;
$color-olive-hover: #a7bd0d;
$color-green-hover: #16ab39;
$color-teal-hover: #009c95;
$color-blue-hover: #1678c2;
$color-violet-hover: #5829bb;
$color-purple-hover: #9627ba;
$color-pink-hover: #e61a8d;
$color-brown-hover: #975b33;
$color-grey-hover: #838383;
$color-black-hover: #27292a;

$color-iron: #e0e1e2;

//COLOR MESSAGES
$color-init: $color-grey;
$color-error: $color-red;
$color-info: $color-teal;
$color-loading: $color-grey;
$color-primary: $color-blue;
$color-secondary: $color-black;
$color-success: $color-green;
$color-warning: $color-orange;

