.section {
  display: block;
}

.section__heading {
  display: block;
  width: 100%;
}

.section__title {
  display: inline-block;
  font-family: $montserrat;
  font-size: 50px;
  font-weight: 700;
  letter-spacing: 0.1em;
  line-height: 2;
}

.section__link {
  position: relative;
  display: inline-block;
  cursor: pointer;
  outline: none;
  border-bottom: 1px solid $color-cod-gray;
  padding: 0;
  transition: background $duration $easing;

  &:hover {
    background-color: transparent;
  }
}
.section__link-text {
  display: inline-block;
  text-align: center;
  font-family: $montserrat;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 0.1em;
  color: $color-cod-gray;
}
.section__inner {
  position: relative;
}

.section__content {
  display: block;
  width: 100%;
}

.section__footer {
  display: block;
  margin: 0 auto;
  text-align: center;
}

//MODIFIER
.section__title--comment {
  line-height: 1.3;
  padding-bottom: 15px;
}
.section--news {
  .section__link {
    float: right;
    line-height: 1;
    padding-top: 82px;
  }
}
.section--view-post {
  padding-bottom: 200px;
}
