$color-mine-shaft: #292929;
$color-cod-gray: #101010;
$color-white: #fff;
$color-wild-sand: #f5f5f5;
$color-alto: #d6d6d6;
$color-white: #fff;
$color-light-grey: #F5F5F5;
$color-red: #db2828;
$color-orange: #f2711c;
$color-yellow: #fbbd08;
$color-olive: #b5cc18;
$color-green: #21ba45;
$color-teal: #00b5ad;
$color-blue: #2185d0;
$color-violet: #6435c9;
$color-purple: #a333c8;
$color-pink: #e03997;
$color-brown: #a5673f;
$color-grey: #767676;
$color-black: #101010;

$montserrat: 'Montserrat', sans-serif;

//BREAKPOINTS
$breakpoint-large-devices: 1200px;
$breakpoint-desktop: 1024px;
$breakpoint-tablet: 992px;
$breakpoint-mobile: 767px;
$breakpoint-small: 375px;
$breakpoint-min: 320px;

//ANIMATION
$duration: .25s;
$easing: ease-in-out;
$delay: .35s;

$z-max: 10;
