<template>
  <router-link to="/" class="logo">
    <img
      v-if="color === 'dark'"
      src="@/assets/images/logo-dark.png"
      alt=""
    >
    <img
      v-else
      src="@/assets/images/logo-default.png"
      alt=""
    >
  </router-link>
</template>

<script>
export default {
  name: 'Logo',
  props: {
    color: { type: String, default: 'light' }
  }
}

</script>

<style lang="scss">
.logo {
  display: inline-block;
  img {
    max-width: 100%;
    width: 100%;
  }
}
</style>
