<template>
  <div id="app">
    <Header
      :show="getShowModal"
      @toggle="toggle($event)"
    />
    <router-view/>
    <Footer />

    <Modal
      v-if="showModal && getModal === 'login'"
    >
      <h2 slot="title" class="modal__title">
        LOGIN
      </h2>
      <LoginForm
        slot="content"
        @toggle="toggle([$event, 'swap'])"
        @close="showModal = false"
      />
    </Modal>

    <Modal v-if="showModal && getModal === 'register'">
      <h2 slot="title" class="modal__title">
        REGISTER
      </h2>
      <RegisterForm
        slot="content"
        @close="showModal = false"
        @toggle="toggle([$event, 'swap'])"
      />
    </Modal>
  </div>
</template>

<script>
import { mapState } from 'vuex'
import Header from '@/components/Header'
import Footer from './components/Footer'
import Modal from './components/Modal'
import LoginForm from './components/LoginForm'
import RegisterForm from './components/RegisterForm'

export default {
  name: 'App',
  components: {
    Header,
    Footer,
    Modal,
    LoginForm,
    RegisterForm
  },
  data () {
    return {
      showModal: false,
      modal: 'login'
    }
  },
  computed: {
    ...mapState(['isAuth', 'token']),
    getShowModal () { return this.showModal },
    getAuth () { return this.auth },
    getModal () { return this.modal }
  },
  methods: {
    toggle (e) {
      const target = e[1]
      switch (target) {
        case 'login': {
          this.modal = 'login'
          this.showModal = !this.showModal
          break
        }
        case 'logout': {
          this.showModal = false
          this.$store.commit('logout')
          break
        }
        case 'register': {
          this.modal = 'register'
          this.showModal = !this.showModal
          break
        }
        case 'swap': {
          this.modal = this.getModal === 'login' ? 'register' : 'login'
          break
        }
        default: {
          this.modal = 'login'
          this.showModal = !this.showModal
          break
        }
      }
    }
  }
}
</script>

<style lang="scss">
@import '@/style/_variables';
@import '@/style/_normalize';
@import '@/style/_base';

.app {
  display: block;
}
</style>
